- var title="test"

doctype html
// src/pug/index.pug より自動出力
html(lang="ja")
    head
        meta(charset="utf-8")
        title #{title}
        link(rel="stylesheet" href="css/index.css")

        script(
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"
        )
        script(src="js/console.min.js")
        link(rel="stylesheet" href="css/console.css")
    body.Layout
        header.Layout__Header
            h1 #{title}
        main.Layout__Main
            .container
                article
                    h2 article 1
                    .content this is the 1st article.
                article
                    h2 article 2
                    .content this is the 2nd article.
                article
                    h2 article 3
                    .content this is the 3rd article.
        aside.Layout__SideBar aside
        footer.Layout__Footer footer
